body {
  background: #dee1e5;
  padding: 0;
  margin: 0;
  main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

}

table {
  border-collapse: collapse;
  width: 70%;
  td {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  td, th {
    border: 1px solid #000;
  }
}
.error {
  color: red;
}




