header {
  .title {
    color: #fff;
    width: 90%;
    margin: auto;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
    font-family: sans-serif;
  }
  padding-top: 30px;
  padding-bottom: 30px;
  background: #3F51B5;
  text-align: center;
    .ant-input {
      width: 90%;
      padding-left: 7px;
      border: none;
      height: 40px;
      font-size: 20px;
      &:focus {
        outline: none;
      }
    }

  .error {
    color: red;
    margin-top: 10px;
    font-size: 20px;
  }
}